@import '../../assets//styles/main.scss';

.headerSlider {
    max-width: 100vw;
    width: 100%;
    .container-item {
        background-color: $main-color;
        max-width: 100%;
        .inner-item{
            @extend .items-center;
            justify-content: space-between;
            .inner-item-text1{
                display: inline;
                background-color: white;
                padding: 7px 14px;
                font-size: 17px;
                font-weight: 500;
                font-family: Inter;
                border-radius: 10px
            }
            .inner-item-mainText{
                font-family: Inter;
                font-weight: 700;
                font-size: 50px;
                color: white;
                padding: 20px 0;
                width: 610px;
            }
            .btn-avatar-wrap{
                @extend .items-center;
                .btn{
                    background-color:$header-btn; 
                    color: white;
                    border: none;
                    padding: 15px 25px;
                    border-radius: 10px;
                    font-weight: 500;
                    font-size: 16px;
                    font-family: inter;
                }
            }
          
            .item-two{
                img{
                    width: 790px;
                }
                .calendar-text{
                    @extend .items-center;
                    gap: 20px;
                    background-color: $studentsNumBg;
                    padding: 10px;
                    border-radius: 15px;
                }
                .textNum1{
                    font-weight: 700;
                    font-size: 24px;
                    color: $studentsNum;
                    font-family: Nunito Sans;
                }
                .textNum2{
                    font-weight: 600;
                    font-family: Inter;
                    font-size: 14px;
                    color: $studentsNum2;
                }
            }
        }
        .avatar-stars{
            @extend .items-center;
            transform: translateX(-20px);
            .stars-text{
                display: flex;
                flex-direction: column;
                gap: 2px;
                p{
                    color: white;
                    font-weight: 600;
                    font-size: 12px;
                    font-family: Raleway;
                }
            }
        }
    }
    .slick-slider{
        .slick-prev {
            left: 0;
        }
        .slick-next{
            display: none !important;
        }
    }
    .student-num{
        position: absolute;
        margin-top: 20px;
        margin-left:150px;
    }
}