@import '../../../assets/styles/main.scss';
.footer{
    background-color: $main-color;
    max-width: 100vw;
    .footer-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        gap: 10px
    }
    &-links{
        @extend .items-center;
        list-style-type: none;
        gap: 45px;
        color: white;
        font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
    }
    &-icons{
        @extend .items-center;
        gap: 20px; 
        padding: 10px 0 20px 0;
    }
    &-end-text{
        color: $footerText;
        font-weight: 400;
        font-size: 16px;
        font-family: Roboto;
        text-align: center;
        border-top: 1px solid white;
        width: 100%;
        padding: 40px 0  20px 0;
    }
}