@import "./assets/styles/main.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Open+Sans&family=Lato&family=Montserrat&display=swap" rel="stylesheet');
body {
  margin: 0;
  min-height: 100vh;
}
p ,h1,h2,h3,h4,h5,h6{
  margin: 0;
}


