$main-color:#009688;
$header-btn:#FD661F;
$border1:#76767699;
$nav-links:#686868;
$card-one:#DEEAFF;
$card-text:#454545;
$studentsNum:#595959;
$studentsNum2:#545567;
$studentsNumBg:#CCEAE7;
$sliderTitle:#141B34;
$sliderBg:#D2E6E4;
$partnersBg:#F6F8F9;
$partnerBorder:#E1E1E1;
$sliderBtnBg:#ECF3F6;
$footerText:#CFD3D7;
